langgraph==1.2.12
langgraph-checkpoint-mongodb
langchain==1.4.2
langchain-core
langchain-google-genai
langchain-groq
groq==0.37.1
langchain-mcp-adapters==0.3.2
mcp==1.30.0
pymongo
pydantic-settings
httpx
pytest
pytest-cov
pytest-asyncio
respx
ruff
fastapi
uvicorn
certifi
redis
pyjwt
